<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>My muSICK</title>
 	<meta name="description" content="MyMuSICK">
  <style type="text/css">
  body {
    color: #ffffff;
   background-color: #369641;
   	  display: block;
    	position: float;
      text-align: center;
    	top: 30%;

    	}

    #logo{
    text-align: center;


    }
  </style>
</head>

<body>
<a href="/rank">
<img src="/static/logo.png" class="logo"><BR>
<img src="/static/error.png" class="logo">
</a>
</body>
</html>